<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /metrics
  RewriteRule ^metrics/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /metrics/index.html [L]
</IfModule>
